/**
 * Because this code is used in both `tailwind.css` and `tailwind-editor.css`,
 * we import it from here to avoid duplication.
 */

/**
 * Add Tailwind Typography and a corresponding config file.
 */
@plugin "@_tw/typography";
@config "../tailwind-typography.config.js";

/**
 * Add the WordPress file header.
 */
@import "../custom/file-header.css";

/**
 * Add both the default Tailwind theme and your custom theme.
 */
@import "../tailwind-theme.css";

/**
 * Add custom `@font-face` rules.
 */
@import "../custom/fonts.css";

#hdr-content {
    transition: all      0.3s ease-in-out;
    padding-top: 2rem; /* Standardowy padding (py-8) */
    padding-bottom: 2rem;
}

#hdr-content.shrink {
    padding-top: 0.5rem; /* Zmniejszony padding (py-2) */
    padding-bottom: 0.5rem;
}
