/**
 * Because this code is used in both `tailwind.css` and `tailwind-editor.css`,
 * we import it from here to avoid duplication.
 */

/**
 * Add Tailwind Typography and a corresponding config file.
 */
@plugin "@_tw/typography";
@config "../tailwind-typography.config.js";

/**
 * Add the WordPress file header.
 */
@import "../custom/file-header.css";

/**
 * Add both the default Tailwind theme and your custom theme.
 */
@import "../tailwind-theme.css";

/**
 * Add custom `@font-face` rules.
 */
@import "../custom/fonts.css";


.button {
        color: white;
        border: none;
        cursor: pointer;
        transition: all 0.5s;
}

#hdr-content {
        transition: height 0.3s ease-in-out, margin 0.3s ease-in-out, transform 0.3s ease-in-out;
        padding-top:6px;
        padding-bottom:6px;
}
    
#top-nav {
        transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        height: auto;
        overflow: hidden; 
}
    
    
#nav-br {
        transition: height 0.25s ease-in-out, opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
    
#bot-nav {
        transition: transform 0.3s ease-in-out;
        max-height: 24px;
}

nav li{
        display: inline-block;
        position: relative;
}
nav a{
        transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out; 
}

nav a:hover{
        font-size:20px;
}

/*
nav a::before {
        content: '';
        display: block;
        height: 2px;
        background-color: #000;
      
        position: absolute;
        top: -5px;
        width: 0%;
      
        transition: all ease-in-out 250ms;
}

nav a:hover::before {
        width: 100%;
}*/

span svg{
        transition: all 0.2s ease-in-out;
}