/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
body {
	@apply bg-background text-foreground font-sans;
}

.shade {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.56);
	position: absolute;
	left: 0;
  }